/* General styles */

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

body {
	margin-top: 80px;
}

.container, header, .smile, .title {
	box-sizing: border-box;	
	z-index: 1;
}

.container {
	border: 1px solid black;
	margin: 0 auto;
	width: 600px;
	height: 380px;
}

/* Header styles */

header {
	height: 100px;
	border-bottom: 1px solid black;
}

.smile, .title {
	height: 100px;
}

.smile {
	border-right: 1px solid black;
	background: url("../images/mad-lib-happy-face.png") no-repeat;
	background-size: 50px;
	background-position: 50%;
	width: 148px;
}

.title {
	border-bottom: 1px solid black;
}


.title {
	width: 450px;
	border-left: 0
}

.logo {
	height: 50px;
	width: 100%;
	background: url("../images/ng-mad-libs-logo.png") no-repeat;
	background-position: 50%;
	background-size: 50%;
}

h1 {
	text-align: center;
	font-size: 44px;
}

h2 {
	font-size: 22px;
	margin-bottom: 15px;
}

/* Main content area */

.mad-libs-content {
	padding-top: 25px;
	clear: both;
}

/* Mad lib inputs */

.provide-words {
	padding: 10px 10px 10px 30px;
}

.mad-libs-form {
	padding-bottom: 60px;
}

.question-container {
	text-align: center;
}

.select-gender {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Mad lib results */

.mad-lib {
	padding: 20px 30px 40px 30px;
	margin-top: 20px;
}

.mad-lib p {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 10px;
}

/* Error messages */

.error-messages {
	color: red;
}

/* --- Animation styles --- */

/* Hide the inputs after submission */

.animate-questions {
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
  opacity: 1;
}

.animate-questions.ng-hide {
/*	-webkit-transform: translate(0, -200px);
	transform: translate(0, -200px);*/
	opacity: 0;
}

/* Show results after submission */

.animate-results {
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;

  opacity: 1;
}

.animate-results.ng-hide {
	opacity: 0;
}
/*
.animate-results.ng-hide-stagger {
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}*/