<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Mad Libs</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="madLibs">
  <div class="container">
    <header>
      <div class="smile pull-left">
      </div>
      <div class="title pull-right">
        <div class="logo">
        </div>
        <h1>Automate This!</h1>
      </div>
    </header>
    <div class="mad-libs-content">
      <!-- Where are the variables validationPassed and submitted declared? -->
      <div class="provide-words" ng-hide="validationPassed === true">
        <form class="mad-libs-form" name="madLibsForm" ng-submit="submit(); submitted = true;" novalidate>
          <div class="question-container">
            <input type="text" ng-model="data.name" placeholder="person's name" required>
            <input type="text" ng-model="data.job_title" placeholder="job title" required>
            <input type="text" ng-model="data.tedious_task" placeholder="tedious task" required>
          </div>
          <div class="question-container">
            <input type="text" ng-model="data.dirty_task" placeholder="dirty task" required>
            <input type="text" ng-model="data.celebrity" placeholder="celebrity" required>
            <input type="text" ng-model="data.useless_skill" placeholder="useless skill" required>
          </div>
          <div class="question-container">
            <input type="text" ng-model="data.adjective" placeholder="adjective" required>
            <input type="text" ng-model="data.obnoxious_celebrity" placeholder="obnoxious celebrity" required>
            <input type="number" name="hugeNumber" ng-model="data.huge_number" placeholder="huge number" required>
          </div>
          <div>
            Please specify this person's gender:
            <input type="radio" name="gender" value="male" ng-model="data.gender">Male
            <input type="radio" name="gender" value="female" ng-model="data.gender">Female<br>
          </div>
          <input class="pull-right" type="submit" value="Generate My Mad Lib">
        </form>
        <div class="error-messages" ng-if="submitted === true && madLibsForm.$invalid">
          <div ng-if="madLibsForm.$error.required">
            All values are required.
          </div>
          <div ng-if="madLibsForm.hugeNumber.$error.number === true">
            The huge number must be a number
          </div>
        </div>
      </div> <!-- end provide-words -->
      <div class="mad-lib" ng-show="validationPassed === true">
        <p>
          {{data.name}} was a {{data.job_title}} who loved technology. Although {{data.selectGender("pronoun")}} loved parts of {{data.selectGender("possessive")}} job, {{data.selectGender("pronoun")}} absolutely hated  {{data.tedious_task}} and {{data.dirty_task}}. So, {{data.name}} met with {{data.selectGender("possessive")}} life mentor {{data.celebrity}} who told {{data.selectGender("possessive")}} to learn about {{data.useless_skill}} with Thinkful. Thinkful didn't offer a course on {{data.useless_skill}} so {{data.selectGender("pronoun")}} studied programming instead.
        </p>
        <p>
          What a great decision! With {{data.selectGender("possessive")}}  new skills, {{data.name}} built a(n) {{data.adjective}} robot named {{data.obnoxious_celebrity}} that not only loved {{data.dirty_task}} but did it {{data.huge_number}} times faster. 
        </p>
        <button class="pull-right" ng-click="reset()">Start Over</button>
      </div> <!-- end mad-lib -->
    </div> <!-- end mad-libs-content -->
  </div> <!-- end container -->
  <script src="js/angular.min.js"></script>
  <script src="js/app.js" type="text/javascript"></script>
</body>
</html>